language: bash

services:
  - docker

env:
  global:
    - LATEST_TAG=2.4
    - BASE_IMAGE_STABILITY_TAG=3.0.1
  matrix:
    - TAG=2.4 APACHE_VER=2.4 EXTRA_TAG=2

script:
  - make && make test

after_success:
  - bash "${TRAVIS_BUILD_DIR}/travis_release"
